* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#main-container {
    height: 100vh;
}

#game-board {
    border: 1px solid black;
    margin: auto;
    min-width: 200px;
    min-height: 200px;
    width: 60vmin;
    height: 60vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#game-board div {
    border: 1px solid black;
}

.game-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(3.5rem, 8vh);
}