* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#main-container {
    height: 100vh;
}

#game-board {
    border: 1px solid black;
    margin: auto;
    width: max(300px, 30vw);
    height: max(300px, 30vw);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#game-board div {
    border: 1px solid black;
}